:root {
  --primary-text: #757575;
  --title-text: #212121;
  --accent-logo: #2196f3;
  --primary-bg: #ffffff;
  --title-logo: #000000;
  --footer-logo: #ffffff;
  --footer-bg: #2f303a;
  --team-section-bg: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);

  --items-number: 3;
  --indent: 30px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text);
  margin: 0px;
}

.page-header {
  background-color: var(--primary-bg);
  border-bottom: 1px solid #ececec;
  /* border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #ececec; */
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  width: 1200px;
}

/* Main properties Logo */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-logo);
  text-decoration: none;
  margin: 24px 94px 25px 0px;
  padding: 0px;
}

/* Color Logo in Header */
.logo-black {
  color: var(--title-logo);
}

/* Orientation elements inside Header */
.navigation {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* styles for all links */
.link {
  list-style-type: none;
  text-decoration: none;
  color: var(--title-logo);
}

.link:hover,
.link:focus {
  color: var(--accent-logo);
}

.current-link {
  color: var(--accent-logo);
}

/* Orientation elements inside nav-menu */
.nav-menu {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-inline-start: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0px;
}

.nav-menu > li {
  margin-left: 0;
  margin-right: 50px;
}

/* Orientation elements inside nav-contacts */
.nav-contacts {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-inline-start: 0;
  margin: 0px;
}

.link.email {
  color: var(--primary-text);
  margin-left: 280px;
}

.link.phone {
  color: var(--primary-text);
  margin-left: 50px;
}

.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-logo);
}

/* styles for MAIN */

.hero {
  background-color: var(--footer-bg);
  /* display:block;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.hero-box {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-logo);
  margin-bottom: 30px;
}

.hero-button {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--accent-logo);
  color: var(--footer-logo);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  justify-content: center;
  letter-spacing: 0.06em;
  border: 0px;
}

/* Section "Features" */

.features {
  padding-top: 94px;
}

.section {
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list-features {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  justify-content: space-between;
}

.list-features > li {
  width: 270px;
}

.title-features-article {
  color: var(--title-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text-features {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Styles for section Works */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-logo);
  margin-bottom: 50px;
}

.list-works {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  justify-content: space-between;
}

/* styles for Team */

.team {
  background-color: var(--team-section-bg);
  padding-top: 94px;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-logo);
  margin-bottom: 50px;
  margin-top: 0px;
}

.list-team {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
  justify-content: space-between;
  text-align: center;
  /* padding-bottom: 30px; */
}

.card-team {
  background-color: var(--primary-bg);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text);
  margin-bottom: 10px;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*--------- styles for Footer */

.footer-section {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--accent-logo);
  text-decoration: none;
}

/* Color Logo in Footer */
.logo-white {
  color: var(--footer-logo);
}

.footer-contacts {
  display: flex;
  font-style: normal;
  list-style-type: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-inline-start: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-contacts > li {
  margin-bottom: 9px;
}

.link-address {
  text-decoration: none;
  color: var(--footer-logo);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-footer {
  color: var(--footer-contacts-color);
  text-decoration: none;
}

.link-footer:hover,
.link-footer:focus,
.link-address:hover,
.link-address:focus {
  color: var(--accent-logo);
}

/* Styles for page Portfolio.html */

.buttons-section {
  display: flex;
  align-items: center;
  margin-bottom: 148px;
  padding-top: 40px;
}

.list-buttons {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 40px; */
  margin-bottom: 50px;
}

.button-filter {
  background-color: var(--team-section-bg);
  color: var(--title-text);
  border-radius: 4px;
  border: 0px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
  margin-left: 4px;
  margin-right: 4px;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-logo);
  color: var(--footer-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-card-project {
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: (100% - (var(--indent) * (var(--items-number) - 1) / var(--items-number)));
  gap: var(--indent);
}

.card-project {
  background-color: #ffffff;
  box-sizing: border-box;
}

.card-container {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.item-card-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-logo);
  margin-bottom: 4px;
}
